.curseclient
.replit
replit.nix
README.md
options.txt
usernamecache.json
usercache.json
/crash-reports
minecraftinstance.json
patchouli_data.json
/fancymenu_data
/fancymenu_instance_data
/fancymenu_setups
/logs
/local
/defaultconfigs
/downloads
/patchouli_books